@import url("fonts.css");
body {
  font-family: 'WorkSans SemiB';
  padding: 0px;
  margin: 0px; }

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.content {
  max-width: 100%;
  width: 1100px;
  margin: 0px auto; }

.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #ed6c2c; }
  .main-nav .content {
    max-width: 100%;
    width: 1100px;
    margin: 0px auto; }
  .main-nav .nav-social {
    height: 33.3px;
    background-color: #6255a0; }
    .main-nav .nav-social .social {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: space-between;
      padding-right: 10px; }
    .main-nav .nav-social .social i {
      padding: 10px;
      color: #ffffff; }
  .main-nav .active {
    background-color: #a13e0e; }
  .main-nav .container-nav {
    padding: 3px 0px; }
    .main-nav .container-nav .navbar {
      background-color: #ed6c2c; }
      .main-nav .container-nav .navbar .container-img {
        padding-right: 10px; }
      .main-nav .container-nav .navbar #navbarSupportedContent {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .main-nav .container-nav .navbar #navbarSupportedContent .alignment {
          width: 100%;
          flex-direction: row;
          justify-content: space-around;
          align-content: center;
          align-self: center; }
          .main-nav .container-nav .navbar #navbarSupportedContent .alignment li {
            border-radius: 10px; }
            .main-nav .container-nav .navbar #navbarSupportedContent .alignment li a {
              color: #ffffff;
              font-family: 'WorkSans SemiB';
              font-size: 18px; }
            .main-nav .container-nav .navbar #navbarSupportedContent .alignment li:hover {
              background-color: #a13e0e; }
          .main-nav .container-nav .navbar #navbarSupportedContent .alignment .logout {
            border: 1px solid #fff; }
            .main-nav .container-nav .navbar #navbarSupportedContent .alignment .logout:hover {
              border: 1px solid #a13e0e;
              background-color: #fff; }
              .main-nav .container-nav .navbar #navbarSupportedContent .alignment .logout:hover a {
                color: #a13e0e; }
      .main-nav .container-nav .navbar .img-andes {
        padding-left: 20px;
        border-left: 1px solid #ffffff; }

.main-info {
  background-color: #9fcdff;
  overflow: hidden; }
  .main-info .cloudy {
    position: relative; }
  .main-info .container-info {
    position: relative;
    z-index: 5;
    padding: 55px 0px;
    display: flex;
    flex-direction: row; }
    .main-info .container-info .info-perfil {
      display: flex;
      flex-direction: row;
      padding-right: 90px; }
      .main-info .container-info .info-perfil .img-perfil {
        padding-right: 20px; }
      .main-info .container-info .info-perfil .info {
        display: flex;
        flex-direction: column; }
        .main-info .container-info .info-perfil .info .title {
          font-family: 'WorkSans SemiB';
          font-size: 24px;
          color: #6255a0; }
        .main-info .container-info .info-perfil .info .nombre {
          font-family: 'WorkSans Regular';
          font-size: 18px;
          font-weight: 600;
          color: #6255a0; }
    .main-info .container-info .info-sec {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      font-family: 'WorkSans Ligth';
      font-size: 20px;
      font-weight: 600;
      color: #6255a0;
      line-height: 120%; }
    .main-info .container-info .pajarito {
      position: relative;
      top: 30px;
      left: 110px; }

.cont-sec {
  height: 792px;
  background: url(../img/city.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 88px; }
  .sections .lined {
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb; }
  .sections .section {
    max-height: 492px; }
    .sections .section .title {
      text-align: center;
      width: 100%;
      padding-bottom: 47px; }
      .sections .section .title h3 {
        margin: 0 auto;
        font-size: 32px;
        font-family: 'WorkSans Ligth';
        font-weight: 600;
        color: #6255a0;
        text-align: center; }
    .sections .section .info-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .sections .section .info-bar #puntos {
        font-family: 'WorkSans Regular';
        line-height: 80%;
        color: #ed6c2c;
        font-size: 50px; }
      .sections .section .info-bar .info-pts {
        font-family: 'WorkSans Regular';
        color: #ed6c2c;
        font-size: 17px;
        padding-bottom: 23px; }
    .sections .section .progress {
      margin: 0 auto;
      width: 318px;
      border: 1px solid #ed6c2c;
      border-radius: 20px;
      height: 23px; }
      .sections .section .progress .progress-bar {
        background-color: #ed6c2c; }
    .sections .section hr {
      margin-top: 60px;
      width: 80%;
      border: 0.5px solid #bbbbbb; }
    .sections .section .falt-punto {
      color: #b3b3b3;
      font-size: 16px;
      width: 100%;
      text-align: center; }
    .sections .section .info-img {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .sections .section .info-img img {
        padding: 15px 20px;
        width: 30%; }

.footer {
  background-color: #1a1a1a;
  height: 100%; }
  .footer .info {
    padding: 31px 0px 41px;
    color: #fff;
    font-family: 'WorkSans Ligth';
    display: flex;
    flex-direction: column;
    text-align: center; }

.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center; }
  .contenedor .formulario {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    padding: 20px;
    margin: auto;
    border: 1px solid rgba(151, 151, 151, 0.801);
    border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
