@import url('fonts.css');

$main-color:#6255a0;
$sec-color:#ed6c2c;

body{
    font-family: 'WorkSans SemiB';
    padding: 0px;
    margin: 0px;
}

ul,li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.content{
    max-width: 100%;
    width: 1100px;
    margin: 0px auto;
}

.main-nav{
    display: flex;
    flex-direction: column;
    background-color: $sec-color;
    
    .content{
        max-width: 100%;
        width: 1100px;
        margin: 0px auto
    }
    .nav-social{
        height: 33.3px;       
        background-color: $main-color;  
        
        
        .social{
            
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: space-between;
            padding-right: 10px;
            
        }
        .social i{
            padding: 10px;
            color: #ffffff;
        }
    }

    .active{
        background-color: #a13e0e;
    }
    
    .container-nav{
        padding: 3px 0px;
        .navbar{
            background-color: $sec-color;
            

            .container-img{
                padding-right: 10px;
            }

            #navbarSupportedContent{
                display: flex;
                flex-direction: row;
                justify-content: center;

                .alignment{
                    width: 100%;
                    
                    flex-direction: row;
                    justify-content: space-around;
                    align-content: center;
                    align-self: center;

                    li{
                        
                        border-radius: 10px;
                        a{
                            color: #ffffff;
                            font-family: 'WorkSans SemiB';
                            font-size: 18px;
                        }
                        &:hover{
                            background-color: #a13e0e;
                        }

                    }
                    

                    .logout{
                        border: 1px solid #fff;
                        &:hover{
                            border: 1px solid #a13e0e;
                            background-color: #fff;
                            a{
                                color: #a13e0e;

                            }
                        }
                    }
                    
                }
            }
            .img-andes{
                padding-left: 20px;
                border-left: 1px solid  #ffffff 
            }
        }
    }
}

.main-info{
    background-color: #9fcdff;
    overflow: hidden;
    
    
    .cloudy{
        position: relative;        
    }

    .container-info{
        position: relative;
        z-index: 5;
        padding: 55px 0px;
        display: flex;
        flex-direction: row;

        .info-perfil{
            display: flex;
            flex-direction: row;
            padding-right: 90px;
            .img-perfil{
                padding-right: 20px;
            }
            .info{
                display: flex;
                flex-direction: column;
                
                .title {
                    font-family: 'WorkSans SemiB';
                    font-size: 24px;
                    color:$main-color;
                }
                .nombre {
                    font-family: 'WorkSans Regular';
                    font-size: 18px;
                    font-weight: 600;
                    color:$main-color;
                }
            }
        }

        .info-sec{
            padding-top:15px; 
            display: flex;
            flex-direction: column;
            font-family: 'WorkSans Ligth';
            font-size: 20px;
            font-weight: 600;
            color:$main-color;
            line-height: 120%;
        }

        .pajarito{
            position: relative;
            top:30px;
            left: 110px;
        }

    }
}


.cont-sec{
    height: 792px;
    background:url(../img/city.png);
    background-position:  left bottom;
    background-repeat: no-repeat;
    background-size:100% auto;

    
}

.sections{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 88px;
    
    .lined{
        border-left: 1px solid #bbbbbb;//#f2f2f2
        border-right: 1px solid #bbbbbb;
    }
    .section{
        max-height: 492px;
        
        .title {
            text-align: center;
            width: 100%;
            padding-bottom: 47px;
            h3{
                margin: 0 auto;
                font-size: 32px;
                font-family: 'WorkSans Ligth';
                font-weight: 600;
                color:$main-color; 
                text-align: center;
            }
        }

        .info-bar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #puntos{
                font-family: 'WorkSans Regular';
                line-height: 80%;
                color: $sec-color;
                font-size: 50px;
            }
            .info-pts{
                font-family: 'WorkSans Regular';
                color: $sec-color;
                font-size: 17px;
                padding-bottom: 23px;
            }
        }

        .progress{
            
            margin: 0 auto;
            width: 318px;
            border: 1px solid $sec-color;
            border-radius: 20px;
            height: 23px;
            .progress-bar{
                
                background-color: $sec-color;
            }
        }

        hr{
           margin-top: 60px;
           width: 80%;
           border: 0.5px solid #bbbbbb;//#f2f2f2
        }

        .falt-punto{
            
            color: #b3b3b3;
            font-size: 16px;
            width: 100%;
            text-align: center;
            
            
        }
        


        .info-img{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                padding: 15px 20px;
                width: 30%;
            }
        }
            
    }
    


}

.footer{
    background-color: #1a1a1a;
    height: 100%;
    

    .info{
        padding: 31px 0px 41px;
        color: #fff;
        font-family: 'WorkSans Ligth';
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.body-form{
    
    background-color: #9fcdff;
    overflow: hidden;
    
    .cloudy{
        position: relative;        
    }
    .contenedor{
        width: 100%;
        height: 100vh;
        display: flex;
        align-content: center;
    
        .formulario{
            
            position: absolute;
            top:25%;
            left: 35%;
            max-width: 400px;
            width: 100%;
            
            height: auto;
            padding: 20px;
            margin: auto;
            border: 1px solid rgba(151, 151, 151, 0.801);
            border-radius: 10px;
            background-color: #fff;

            .form-head{
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px 20px;
                

            }
        }
    }
}

#alerta1{
    display: none;
}

.princ-cont{

    display: flex;
    flex-direction: row;
    position: relative;

    .bal1{
        position: absolute;
        //border: 1px solid black;
        display: flex;
        flex-direction: column;
        top: 25px;
        #barra_izq{
            position: absolute;
            left: 60px;
        }
        #barra_info{
            position: absolute;;
            height: 162px;
        }
        input{
            position: absolute;
            width: 30px;
            top:126px;
            left:45px;
            background-color: transparent;
            border:0px;
            color:#ED6C2C;
            text-align: right;
        }
        label{
            position: absolute;
            width: 40px;
            top:126px;
            left:75px;
            background-color: transparent;
            border:0px;
            color:#ED6C2C;
        }
    }

    .base{
        position: absolute;
        left:80.5px;
        top:8px;
    }

    .bal2{
        position: absolute;
        //border: 1px solid black;
        left: 196px;

        top:25px;
        #barra_der{
            position: absolute;
            transform: rotate(0deg)
            
        }
        #barra_info_der{
            position: absolute;;
            height: 162px;
            top: 0px;
            left: 12px;
        }

        input{
            position: absolute;
            width: 30px;
            top:126px;
            left:50px;
            background-color: transparent;
            border:0px;
            color:#6255A0;
            text-align: right;
        }
        label{
            position: absolute;
            width: 40px;
            top:126px;
            left:80px;
            background-color: transparent;
            border:0px;
            color:#6255A0;
        }
    }

}